<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict/>
	<dict>
		<key>0</key>
		<string>Aleart example with alert &amp; action sheet</string>
		<key>1</key>
		<string>Auto layout example</string>
		<key>2</key>
		<string>ImageView &amp; Slider example </string>
		<key>3</key>
		<string>Insert Image example</string>
		<key>4</key>
		<string>Creating Animation using multiple images </string>
		<key>5</key>
		<string>Image Animation example using button action</string>
		<key>6</key>
		<string>Sign Up &amp; Sign In example using UserDefault</string>
		<key>7</key>
		<string>Simple TableView example</string>
	</dict>
	<dict>
		<key>0</key>
		<string>Two VC with TableViewCell &amp; Class</string>
		<key>1</key>
		<string>Date picker &amp; Choosing date from textfield</string>
		<key>2</key>
		<string>Fizzbuzz in Tableview</string>
		<key>3</key>
		<string>Two TableVC &amp; Class </string>
		<key>4</key>
		<string>UIPicker example</string>
		<key>5</key>
		<string>P-list example</string>
		<key>6</key>
		<string>SearchBar example</string>
		<key>7</key>
		<string>Timer example</string>
	</dict>
	<dict>
		<key>0</key>
		<string>CornerRadius &amp; Border Examples</string>
		<key>1</key>
		<string>Extensions Examples </string>
		<key>2</key>
		<string></string>
		<key>3</key>
		<string>GCD</string>
		<key>4</key>
		<string>Keyboard show/hide </string>
		<key>5</key>
		<string>Fetch list of images from server</string>
	</dict>
</array>
</plist>
