<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>0</key>
		<string>Calculator</string>
	</dict>
	<dict>
		<key>0</key>
		<string>Alert</string>
		<key>1</key>
		<string>AutoLayout</string>
		<key>2</key>
		<string>Battery</string>
		<key>3</key>
		<string>Camera Image</string>
		<key>4</key>
		<string>Image Animation</string>
		<key>5</key>
		<string>LR Animation</string>
		<key>6</key>
		<string>Sign-in</string>
		<key>7</key>
		<string>TableView</string>
	</dict>
	<dict>
		<key>0</key>
		<string>Contact List</string>
		<key>1</key>
		<string>Date</string>
		<key>2</key>
		<string>Fizzbuzz</string>
		<key>3</key>
		<string>Person</string>
		<key>4</key>
		<string>Picker</string>
		<key>5</key>
		<string>P list</string>
		<key>6</key>
		<string>SearchBar</string>
		<key>7</key>
		<string>Timer</string>
	</dict>
	<dict>
		<key>New item</key>
		<string></string>
	</dict>
</array>
</plist>
